{
  "presets": [
    ["env", {
      "targets": {
        "node": 8
      },
      "production": {
        "presets": ["minify"]
      }
    }],
    "stage-2"
  ],
  "ignore": [
    "docs/",
    "_book/"
  ]
}
